<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>when Joey hops in chat and does more with our hw in 30 minutes than we do in 12 hours</h1>
    <img src='public/images/joeyirl.PNG' alt='there-IS-NO-ALT'>
</body>
</html>